<footer>
  <div class="row">
    <div class="col-8">
      <div class="footer-left-part">
        <span>{{ 'WEB-FOOTER-PAGE.BY_THE_WAY' | translate }}</span>
        <p>{{ 'WEB-FOOTER-PAGE.SUBSCRIBE_NEWSLETTER' | translate }}</p>
        <div class="formcontrol-wrapper">
          <input
            type="email"
            class="formcontrol"
            [placeholder]="'WEB-FOOTER-PAGE.E-MAIL' | translate" />
          <a>
            <img src="/images/arrow-right.svg" alt="" />
          </a>
        </div>
        <div class="social-icons">
          <a class="image-block">
            <img src="/images/telegram-image.svg" alt="" />
          </a>
          <a class="image-block">
            <img src="/images/instagram-image.svg" alt="" />
          </a>
          <a class="image-block">
            <img src="/images/youtube-image.svg" alt="" />
          </a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="footer-right-part">
        <span>{{ 'WEB-FOOTER-PAGE.ABOUT_US' | translate }}</span>
        <nav>
          <ul>
            <li>
              <a>{{ 'WEB-FOOTER-PAGE.COURSES' | translate }}</a>
            </li>
            <li>
              <a>{{ 'WEB-FOOTER-PAGE.GUIDES' | translate }}</a>
            </li>
            <li>
              <a>{{ 'WEB-FOOTER-PAGE.WEBMINAR' | translate }}</a>
            </li>
            <li>
              <a>{{ 'WEB-FOOTER-PAGE.NEWS' | translate }}</a>
            </li>
            <li>
              <a>{{ 'WEB-FOOTER-PAGE.ABOUT_US' | translate }}</a>
            </li>
            <li>
              <a>{{ 'WEB-FOOTER-PAGE.TESTIMONIAL' | translate }}</a>
            </li>
            <li>
              <a>{{ 'WEB-FOOTER-PAGE.CONTACTS' | translate }}</a>
            </li>
          </ul>
        </nav>
        <div class="contact-details">
          <span>{{ 'WEB-FOOTER-PAGE.CONTACTS_US' | translate }}</span>
          <p><a href="tel:+1 (001) 981-76-17">+1 (001) 981-76-17</a></p>
          <p><a href="mailto:info@logoipsum.com">info&#64;logoipsum.com</a></p>
        </div>
        <div class="copyright-part">
          <p>{{ 'WEB-FOOTER-PAGE.PRIVACY' | translate }}</p>
          <p>&#169; 2025 — {{ 'WEB-FOOTER-PAGE.COPYRIGHT' | translate }}</p>
        </div>
      </div>
    </div>
  </div>
</footer>
