<header>
  <div class="left-block">
    <h2>{{ profileData?.user_first_name }}</h2>
    <p>34 Likes</p>
  </div>
  <div class="right-block">
    <mat-form-field appearance="outline" class="custom-select">
      <mat-select
        placeholder="english"
        [(value)]="selectedLanguage"
        panelClass="custom-select-panel"
        (selectionChange)="onLanguageChange($event)">
        @for (item of languageSelecter; track $index) {
          <mat-option [value]="item.value">{{ item.name.en }}</mat-option>
        }
      </mat-select>
      <div class="flag-box">
        <img
          [src]="
            selectedLanguage === 'zh' ? '/images/chinese-flag-image.svg' : '/images/flag-image.svg'
          "
          alt="" />
      </div>
    </mat-form-field>

    <div class="profile-block">
      <div class="profile-details-block">
        <div class="dropdown-area" [matMenuTriggerFor]="menu">
          <div class="image-block">
            @if (profileData?.profile_image) {
              <img [src]="profileData?.profile_image" alt="" />
            } @else {
              <p>{{ profileData?.user_first_name | initialName }}</p>
            }
          </div>
          <div class="name-block">
            <h2>{{ profileData?.user_first_name }}</h2>
            <!-- <p>Premium</p> -->
          </div>
          <a class="down-arrow-icon">
            <img src="/images/profile-dropdown-image.svg" alt="" width="10" height="4" />
          </a>
          <mat-menu #menu="matMenu" class="profile-dropdown-box">
            <div class="profile-area" [attr.role]="'none'">
              <h3>{{ profileData?.user_first_name }}</h3>
              <p>{{ profileData?.email }}</p>
              <a (click)="onLogout($event)" class="btn btn-logout">
                <svg>
                  <use xlink:href="/scss/icons.svg#icon-logout"></use>
                </svg>
                {{ 'COMMON.LOG_OUT' | translate }}
              </a>
            </div>
          </mat-menu>
        </div>
      </div>
    </div>
  </div>
</header>
