<!-- add category html design -->
<div class="add-category-panel">
  <div class="category-header-part">
    <h6>Category</h6>
    <a class="search-icon-block">
      <svg class="icon-search">
        <use xlink:href="/scss/icons.svg#icon-search"></use>
      </svg>
    </a>
  </div>
  <div class="category-body-part">
    <div class="category-item category-item-active">
      <p>Partner Preference</p>
      <a class="icon-block">
        <svg>
          <use xlink:href="/scss/icons.svg#icon-chevron-right"></use>
        </svg>
      </a>
    </div>
    <div class="category-item">
      <p>Profile Basics</p>
      <a class="icon-block">
        <svg>
          <use xlink:href="/scss/icons.svg#icon-chevron-right"></use>
        </svg>
      </a>
    </div>
    <div class="category-item">
      <p>Lifestyle Preferences</p>
      <a class="icon-block">
        <svg>
          <use xlink:href="/scss/icons.svg#icon-chevron-right"></use>
        </svg>
      </a>
    </div>
    <div class="category-item">
      <p>Personality and Interests</p>
      <a class="icon-block">
        <svg>
          <use xlink:href="/scss/icons.svg#icon-chevron-right"></use>
        </svg>
      </a>
    </div>
    <div class="category-item">
      <p>Relationship Preferences</p>
      <a class="icon-block">
        <svg>
          <use xlink:href="/scss/icons.svg#icon-chevron-right"></use>
        </svg>
      </a>
    </div>
    <div class="category-item">
      <p>Date Preferences</p>
      <a class="icon-block">
        <svg>
          <use xlink:href="/scss/icons.svg#icon-chevron-right"></use>
        </svg>
      </a>
    </div>
    <div class="category-item">
      <p>Communication and Interaction</p>
      <a class="icon-block">
        <svg>
          <use xlink:href="/scss/icons.svg#icon-chevron-right"></use>
        </svg>
      </a>
    </div>
    <div class="category-item">
      <p>Future Aspirations</p>
      <a class="icon-block">
        <svg>
          <use xlink:href="/scss/icons.svg#icon-chevron-right"></use>
        </svg>
      </a>
    </div>
  </div>
</div>
